html
    head 
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="/styles/custom.css")
   
    body          
        div(class="container", id="container")
            h1 ĐĂNG NHẬP
            if errors
                each error in errors
                    .alert.alert-danger= error
            form(action="/auth/login", method="POST")
                .form-group
                    label(for="email") Email/Tên đăng nhập
                    input(type="text", id="email", name="email", class="form-control", value=values ? values.email : "") 
                .form-group   
                    label(for="password") Password
                    input(type="password", id="password", name="password", class="form-control", value=values ? values.password : "") 
                        
                button(class="btn btn-primary mt-2") Login