extends ./layouts/common
block content
    div(class="container mt-10")
        div(class="card mt-10", style="width: 60rem")
            img(src="/images/pic1.jpg", class="img-fluid")
    
            
            


