extends ../layouts/common
block navbar
   nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/')
            img(src='/images/edit.png', width='50', height='50', alt='')
        a.navbar-brand(href='/', class="font-weight-bold") Steel Company
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='/users')    Users 
                li.nav-item
                    a.nav-link(href='/products') Products
                li.nav-item.dropdown
                    a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Dropdown link
                    .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                        a.dropdown-item(href='#') Action
                        a.dropdown-item(href='#') Another action
                        a.dropdown-item(href='#') Something else here
            form.form-inline.my-2.my-lg-0
                input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
block content
    div(class="container")
        h1 Users List
        a(href="/") Back to Homepage
        br 
        a(href="/users/create") Create a new user
        form(action="/users/search", method="GET")
            input(id="input-field" type="text" name="q")
            button(class="btn btn-primary ml-2" ) Search
          
            table.table
                thead
                    tr
                        th(scope='col') Name
                        th(scope='col') More infomation
                tbody    
                    each user in users
                        tr
                        
                            td 
                                span= user.name
                            td 
                                a(href="/users/" + user.id, class="btn btn-primary ml-2 mt-2") View


    
    // How to use Script with Pug
    script.
        var searchInput = document.getElementById('input-field');
        var value = searchInput.value;
        searchInput.addEventListener('change', function() {
        sessionStorage.setItem('draft', searchInput.value)})
        searchInput.value = sessionStorage.getItem('draft');