extends ../layouts/common

block content
    div.d-flex
        a(href="/users" class="btn btn-primary mt-5") Back to Users list
    div.container
        h1(class="mb-3 mt-1") User
      
        table.table
            tr
                th Avatar
                th Name
                th Phone number
            tr  
                td 
                    img(src='/' + user.avatar, width="64")
                td
                    span= user.name
                td 
                    span= user.phone
                td 
                    a(href="/users/delete/"+user.id class="btn btn-danger" id=user.id) Delete
        
        
        
        
        
            


  
