extends ../layouts/common

block content
   div.container
      h1 Create new Product

      form(action="/products/create", method="POST")
         label(for="name", class="ml-5") Name
            div.d-flex
               input(type="text", id="name", name="name", class="form-control", placeholder="Enter your new product here") 
            
               button.btn.btn-primary.ml-2 Create