extends ../layouts/common

block content
    
    div(class="container")
        h1 Our Products
        div(class="d-flex")
            a(href="/products/create", class="btn btn-primary mb-2") Add a new Product
            a(href="/", class="btn btn-primary mb-2 ml-2") Back to homepage
        
        div 
            form(action="/products/search" method="GET")
                label(for="search", class="mt-2") Search
                input(type="text" name="q", id="search", class="ml-2 form-control")
                //- a(href="/products/search/", class="ml-2 btn btn-primary mt-2") Search for product

        table.table
            thead
                tr
                    th(scope='col') Name
                    th(scope='col') More infomation
            tbody
                each product in products
                    tr    
                        td 
                            p(class="ml-2 mt-2")
                                span= product.name
                        td 
                            a(href="/products/view/" + product.id, class="btn btn-info ml-2 mt-1") View