extends ../layouts/common

block content
    div(class="container")
        h1 Search product

        a(href="/products", class="btn btn-primary mb-2 ml-2") Back to Products Homepage

        form(action="/products/search" method="GET")
            div(class="form-group mx-sm-3 mb-2")
                label(for="search" class="sr-only") Search
                input(type="text", id="search", name="q", class="form-control")
            
            button(href="/products/search/", class="btn btn-primary ml-2 mb-20") Search

        if matchedProducts
            div(class="col-sm-3 mr-0.5 mt-10")
                .card(style='width: 18rem;')
                    img.card-img-top(src=matchedProducts[0].image, alt='...')
                .card-body
                    h5(class="card-title")= matchedProducts[0].name 
                    p(class="card-text")= matchedProducts[0].description
                    
                    a.btn.btn-primary(href='#') Add to cart
       


