extends ../layouts/common

block content
    div.container
        h1 Result

        ul
            each item in product
                li
                    span= item.name
                    a(href="/products/view/" + item.id, class="btn btn-primary") View