extends ../layouts/common

block content
    div.container
        h1 Product
            p 
                table.table
                    tr
                        td 
                            b Name:
                    tr
                        td  
                            span(class="ml-2 font-weight-bold")= product.name
                        td
                            a(href="/products/delete/"+product.id, class="btn btn-danger") Delete

        a(type="sumbit", href="/products", class="btn btn-primary") Back to Products Page